.app-root {
  display: grid;
  grid-template-rows: 3em auto;
  height: 100%;
}

.app-header {
  display: grid;
  grid-template-columns: auto 100px;
  grid-row: 1 / 1;
}

.app-header-title {
  grid-column: 1 / 1;
}

.app-header-nav {
  grid-column: 2 / 2;
  justify-self: end;
}

.app-header-nav a {
  margin: 0.5em;
}

.app-header h1 {
  font-size: 1.5em;
  margin: 0.5em;
}

.app-wrapper {
  padding: 1em;
}

.app-container {
  display: grid;
  grid-template-rows: auto 3em;
  height: 100%;
}

.app-body {
  grid-row: 1 / 1;
}

.app-footer {
  grid-row: 2 / 2;
}

.button-primary {
  padding: 0.5em;
  width: 100%;
}