.stopwatch-wrapper {
  display: grid;
  grid-template-columns: 3em 6em auto 6em;
  height: 2em;
  margin: 0.5em 0;
}

.stopwatch-wrapper > * {
  margin: 0 1em 0 0;
}

.stopwatch-wrapper > *:first-child {
  margin-left: 1em;
}

.stopwatch-wrapper input[type=text] {
  border: 0;
  box-sizing: border-box;
  height: 100%;
  padding: 0.3em;
  width: 100%;
}

.stopwatch-wrapper input[type=text]:focus {
  border: 0;
  border-bottom: 2px solid rgb(0, 0, 0);
  outline: 0;
}

.stopwatch-selector {
  grid-column: 1 / 1;
  padding: 0.3em 0;
}

.stopwatch-duration {
  grid-column: 2 / 2;
  text-align: right;
}

.stopwatch-duration input[type=text] {
  text-align: right;
}

.stopwatch-label {
  grid-column: 3 / 3;
}

.stopwatch-toggle-button-wrapper {
  grid-column: 4 / 4;
}

.stopwatch-toggle-button-wrapper button {
  height: 100%;
  padding: 0.3em;
  width: 100%;
}
