.stopwatch-wrapper {
  display: grid;
  grid-template-columns: 3em 8em auto 6em;
  height: 2em;
  margin: 0.5em 0;
}

.stopwatch-wrapper > * {
  margin: 0 1em;
}

.stopwatch-selector {
  grid-column: 1 / 1;
  padding: 0.3em 0;
}

.stopwatch-duration {
  grid-column: 2 / 2;
  padding: 0.3em 0;
  text-align: right;
}

.stopwatch-label {
  grid-column: 3 / 3;
}

.stopwatch-label input {
  border: 0;
  padding: 0.3em;
  width: 100%;
}

.stopwatch-label input:focus {
  border: 0;
  border-bottom: 2px solid rgb(0, 0, 0);
  outline: 0;
}

.stopwatch-toggle-button-wrapper {
  grid-column: 4 / 4;
}

.stopwatch-toggle-button-wrapper button {
  padding: 0.3em;
  width: 100%;
}
