.stopwatch-wrapper {
  display: grid;
  grid-template-columns: 3em 10em auto 6em;
  height: 3em;
}

.stopwatch-wrapper > * {
  padding: 1em;
}

.stopwatch-selector {
  grid-column: 1 / 1;
}

.stopwatch-duration {
  text-align: right;
  grid-column: 2 / 2
}

.stopwatch-label {
  grid-column: 3 / 3;
}

.stopwatch-toggle-button-wrapper {
  grid-column: 4 / 4;
}
